h1 { color:black;
  font-family:'lucida sans unicode','lucida grand',sans-serif;
}

hr{
  margin-top: -10px;
  margin-bottom: 25px;
}

  h4{
    font-family:'lucida sans unicode','lucida grand',sans-serif;
  
}

ul {font-family:'lucida sans unicode','lucida grand',sans-serif;}

h5 {font-size:14px;
   font-weight:150:}

p {font-family:'lucida sans unicode','lucida grand',sans-serif;
  font-size:13px;}

body{ padding-left: 10%; 
padding-right: 10%;
background-color: #e1eeee;
  border: black solid 5px;
  margin: 3%;
padding-top: 20px;
  padding-bottom: 20px;
}

.aye {
  font-weight: 100;
  
}
